.admin {
  margin-left: 5rem;
  height: 100vh;
  .sticky {
    position: sticky;
    display: block;
    top: 0;
    font-size: 2rem;
    font-weight: bold;
    background-color: white;
    z-index: 1000;
  }

  input {
    background-color: #dbe0ee;
    margin: 1rem;
    padding: 0.25rem;
    font-weight: bold;
  }
  .bottom {
    margin: 1rem;
    .verify1 {
      .name {
        font-size: 1rem;
      }
      .btn1 {
        font-size: 0.5rem;
        background-color: green;
        margin: 0.1rem;
      }
      .btn2 {
        font-size: 0.5rem;
        background-color: red;
        margin: 0.1rem;
      }
    }
  }
  img {
    position: relative;
    top: 0;
    left: 0;
    position: relative;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (max-width: 1061px) {
  .admin {
    display: none;
    .header {
      text-align: center;
      font-weight: bold;
      font-size: 2rem;
      margin: 1rem;
    }
    .box {
      border: 1px solid;
      margin: 1rem;
      padding: 1rem;
    }
    img {
      position: relative;
      top: 0;
      left: 0;
      position: relative;
      border-radius: 100%;
      width: 2rem;
      height: 2rem;
    }
  }
}
