.admin {
  display: flex;
  margin-left: 15rem;
  margin-top: 5rem;
}
input {
  border: solid 1px black;
  padding: 0.5rem;
  margin: 0.25rem;
  width: 14rem;
}
button {
  background-color: grey;
  font-weight: bold;
  padding: 0.25rem;
  /* top,right,bottom,left */
  margin: 1rem 0rem 1rem 0rem;
  width: 50%;
  text-align: center;
}
